<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>25</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<integer>6</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<integer>1</integer>
		<key>width</key>
		<integer>450</integer>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>2</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>3</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>12</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>8</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>13</integer>
		<key>width</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<integer>5</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>4</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>9</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<integer>16</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>14</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>15</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>18</integer>
		<key>width</key>
		<real>100</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>19</integer>
		<key>width</key>
		<real>200</real>
	</dict>
	<dict>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<integer>20</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>21</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>22</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>23</integer>
		<key>width</key>
		<real>40</real>
	</dict>
	<dict>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<integer>17</integer>
		<key>width</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>hidden</key>
		<true/>
		<key>identifier</key>
		<integer>11</integer>
		<key>width</key>
		<integer>200</integer>
	</dict>
</array>
</plist>
